<!-- useradmin/single_appliedservices.ejs -->
<% layout("/layouts/adminboilerplate") %>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Applied Services</div>
                    <div class="card-body">
                        <% if (applications.length > 0) { %>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Services</th>
                                        <th>Documents</th>
                                        <th>Download</th>
                                        <th>Action</th>
                                        <th>Mail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% applications.forEach(application => { %>
                                        <tr>
                                            <td><%= application.serviceId.title %></td>
                                         
                                            <td>
                                                <% application.serviceId.documents.forEach(element => { %>
                                                    <li>
                                                        <%= element %>
                                                    </li>
                                                <% }) %>
                                            </td>
                                            <td>
                                                <% application.documents.forEach(document => { %>
                                                   <li> <a href="<%= document %>" class="link" download>Download</a></li>
                                                <% }) %>
                                            </td>

                                            <td>
                                                <form action="/admin/users/application/<%= application._id %>?_method=delete" method="post">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </td>

                                            <td>
                                               <form action="/admin/users/application/<%= user._id %>/sendEmail" method="post">
                                                    <button type="submit" class="btn btn-primary">Send Mail</button>
                                            </form>
                                            </td>
                                        </tr>

                                    <% }) %>
                                </tbody>
                            </table>
                        <% } else { %>
                            <p>No applied services found.</p>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<body>
    

